/* Sections */
.prt-sections-all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f7f7f7;
}

.form-lang button {
    color: #004a65;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    cursor: pointer;
}

.form-lang button:hover {
    text-decoration: underline;
}

.prt-sections-all .section-left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
}

@media (max-width:900px) {
    .prt-sections-all .section-left {
        width: 100% !important;
        align-items: center;
    }
}

/* Preview Height */
.preview-height {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width:900px) {
    .preview-height {
        align-items: center;
    }
}
/* Preview Height */

.prt-sections-all .section-left .nav-bar-section {
    width: 700px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

@media (max-width:900px) {
    .prt-sections-all .section-left .nav-bar-section {
        padding: 0px 16px;
    }
}

.prt-sections-all .section-left .nav-bar-section .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prt-sections-all .section-left .nav-bar-section .logo .logo-desktop {
    width: 102px;
}

@media (max-width:900px) {
    .prt-sections-all .section-left .nav-bar-section .logo .logo-desktop {
        display: none;
    }
}

.prt-sections-all .section-left .nav-bar-section .logo .logo-mobile {
    display: none;
    width: 54px;
}

@media (max-width:900px) {
    .prt-sections-all .section-left .nav-bar-section .logo .logo-mobile {
        display: block !important;
    }
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section .link-nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section .link-nav-bar .icon {
    margin-right: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section .link-nav-bar .icon img {
    width: 16px;
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section .link-nav-bar .text {
    color: #004a65;
    font-size: 14px;
    font-weight: 600;    
}

.prt-sections-all .section-left .nav-bar-section .links-nav-bar-section .link-nav-bar .text:hover {
    text-decoration: underline;
}

.prt-sections-all .section-left .main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 700px;
    max-width: 100%;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section {
    padding: 16px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section h1 {
    font-family: Roboto Slab, serif !important; 
    color: #004a65;
    font-size: 32px;
    margin-bottom: 16px;
}

@media (max-width:900px) {
    .prt-sections-all .section-left .main-section .f-s-d-p-section h1 {
        width: 100%;
        text-align: center;
    }
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 8px hsla(0, 0%, 82%, .502);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .header-app-section {
    background-color: #f0eeea;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .header-app-section .prt-image {
    align-items: center;
    background-color: #fff;
    border: 1px solid #E4E4E5;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .header-app-section .prt-image img {
    width: 45px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 24px 15px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section .prt-image-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section .prt-image-app img {
    width: 125px;
    margin: 0px auto;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section .loader-app {
    padding: 20px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px auto;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .app-section .content-app-section .loader-app .loader-app-element {
    animation-iteration-count: infinite;
    animation-name: up-down;
    animation-duration: 1s; /* Duration of each animation */
    background-color: #fe460e;
    border-radius: 50%;
    opacity: .5;
    transform: scale(.5);
    width: 15px;
    height: 15px;
    margin-left: 6px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login {
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 8px hsla(0, 0%, 82%, .502);
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login:hover {
    background-color: #f7f7f7;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-and-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-and-text .icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-and-text .text {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-and-text .text .text-normal {
    color: #004a65;
    font-weight: 400;
    font-size: 16px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-and-text .text .text-bold {
    color: #004a65;
    font-weight: 700;
    font-size: 16px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-arrow-angle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .option-login .icon-arrow-angle img {
    width: 16px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFF;
    box-shadow: 0 2px 8px hsla(0, 0%, 82%, .502);
    border-radius: 0 0 8px 8px !important;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width:1087px) {
    .prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text {
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1087px) {
    .prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-image img {
        width: 95px;
    }
}
.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-m1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0px;
    flex-wrap: wrap;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-m1 .text {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-m1 .text .m1-number-request {
    background-color: rgba(0, 74, 101, .102);
    border-radius: 8px;
    margin: 0 8px;
    padding: 8px;
    color: #004a65;
    font-family: B612 Mono, monospace !important;
    font-size: 14px;
    font-weight: 700;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-m1 .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .section-m1-text .coul-m1 .img img {
    width: 60px;
    padding-left: 8px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m label {
    color: #004a65;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i {
    width: 320px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .i-s-d-p-element {
    padding: 12px 16px;
    outline: 0px;
    width: 100%;
    background: #fff;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    font-size: 16px;
    color: #004a65;
    font-family: "B612 Mono", monospace !important;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .i-s-d-p-element:hover {
    border: 2px solid #ebebeb;
    box-shadow: 0 2px 8px hsla(0,0%,82%,.502);
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .i-s-d-p-element:focus {
    border: 2px solid #004a65;
    background: #f7f7f7;
    border-radius: 4px 4px 0 0;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .i-s-d-p-element::placeholder {
    color: #004a65 !important;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .icon-arrow-angle {
    position: absolute;
    right: 16px;
    top: 4px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 40px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .coul-i-a-i .icon-arrow-angle img {
    width: 16px;
    transition: 0.2s;
    transform: rotate(180deg);
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .m-e-i-element {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #e9496a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    display: none;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-i-a-l-m .m-e-i-element img {
    width: 14px;
    margin-right: 8px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .remember-me {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .remember-me .checkbox-element {
    width: 24px;
    height: 24px;
    border: 1px solid #004a65;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none !important;
    margin-right: 10px;
    position: relative;
    outline: 0px;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .remember-me .checkbox-element:checked {
    background-color: #00a160;
    border-color: #00a160;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .remember-me .checkbox-element:checked::before {
    content: '\2713';
    font-size: 16px;
    color: #fff;
    position: absolute;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .remember-me label {
    margin-bottom: 0px !important;
    color: #004a65;
    font-size: 16px;
    font-weight: 700;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-btn {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-btn .btn-element {
    border: none;
    outline: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 170px;
    text-align: center;
    padding: 11px 32px;
    transition: 0.2s;
    background: #004a65;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.prt-sections-all .section-left .main-section .f-s-d-p-section .prt-btn .btn-element:hover {
    background: rgba(0, 74, 101, .102);
    color: #004a65;
}

.prt-sections-all .section-left .footer-section {
    width: 700px;
    max-width: 100%;
    margin-top: 24px;
    border-top: 1px solid #ebebeb;
    font-size: .75rem;
    padding: 8px 32px;
}

@media (max-width:900px) {
    .prt-sections-all .section-left .footer-section {
        padding: 8px 0px;
    }
}

.prt-sections-all .section-left .footer-section .text-footer {
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 8px;
}

.prt-sections-all .section-left .footer-section .links-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.prt-sections-all .section-left .footer-section .links-footer .link-footer {
    color: #5c5c5c;
    font-size: 12px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prt-sections-all .section-left .footer-section .links-footer .link-footer:hover {
    text-decoration: underline;
}

.prt-sections-all .section-left .footer-section .links-footer .link-footer img {
    width: 7px;
    margin-left: 8px;
}

.prt-sections-all .section-left .footer-section .links-footer .vesion-current {
    color: #5c5c5c;
    font-size: 12px;
    padding: 8px;
}

.prt-sections-all .section-right {
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: right;
    width: 40%;
    background-color: #f7f7f7;
}

@media (max-width:900px) {
    .prt-sections-all .section-right {
        display: none !important;
    }
}

.prt-sections-all .section-right img {
    height: 100vh;
}

/* Sections */