@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,400i,700,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
  body {  
    font-family:Open Sans,sans-serif;
    color:#5c5c5c;
    line-height:1.6;
    font-size:16px;
  }  
* { 
    box-sizing: border-box;
} 

* { 
    font-family: Open Sans,sans-serif;
} 

body { 
    min-height: 100%;
} 

body { 
    background-color: #f7f7f7; 
    color: #5c5c5c; 
    margin: 0;
} 

html { 
    height: 100%;
} 

html { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    color: #5c5c5c; 
    font-family: Open Sans,sans-serif; 
    line-height: 1.6;
} 

html { 
    font-size: 16px;
} 

.argnt-container { 
    background: #f7f7f7; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    min-width: 350px; 
    width: 100%;
} 

.argnt-p-login-page { 
    display: flex; 
    flex-direction: row; 
    flex-grow: 1; 
    min-height: 100vh; 
    width: 100%;
} 

.argnt-p-login-page .argnt-p-login-page-wrapper  { 
    align-items: center; 
    display: -webkit-flex; 
    flex: 1 1; 
    flex-direction: column; 
    padding: 16px;
} 

.argnt-p-login-page .argnt-p-image-background-container  { 
    display: none;
} 

@media screen and (min-width: 960px){ 
  .argnt-p-login-page .argnt-p-image-background-container  { 
    display: block; 
    width: 380px;
  } 
}     

@media screen and (min-width: 1216px){ 
  .argnt-p-login-page .argnt-p-image-background-container  { 
    width: 528px;
  } 
}     

.argnt-p-login-page .argnt-p-login-page-content-center  { 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    margin: 0 auto;
} 

@media screen and (min-width: 1216px){ 
  .argnt-p-login-page .argnt-p-login-page-content-center  { 
    max-width: 800px;
  } 
}     

@media screen and (min-width: 960px){ 
  .argnt-p-login-page .argnt-p-image-background  { 
    display: block; 
    width: 380px;
  } 
}     

@media screen and (min-width: 1216px){ 
  .argnt-p-login-page .argnt-p-image-background  { 
    width: 528px;
  } 
}     

.argnt-p-login-page .argnt-p-image-background-container .argnt-p-image-background  { 
    position: fixed; 
    right: 0; 
    text-align: right;
} 

.grid { 
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.grid--justifyCenter { 
    justify-content: center;
} 

.argnt-p-login-page .argnt-p-login-page-content-center .argnt-p-login-page__border-footer  { 
    margin-top: auto;
} 

.argnt-p-login-page .argnt-p-image-background-container .argnt-p-image-background img  { 
    height: 100vh;
} 

.grid > .grid__cell  { 
    flex: 0 0 100%; 
    max-width: 100%;
} 

@media screen and (min-width: 960px){ 
  .grid > .grid__cell--lg-12  { 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.argnt-m-footer { 
    border-top: 1px solid #ebebeb; 
    font-size: .75rem; 
    padding: 8px 32px 0; 
    width: 100%;
} 

.argnt-m-skip-link-navigation:not(:focus-within) { 
    clip: rect(0 0 0 0); 
    -webkit-clip-path: inset(50%); 
    clip-path: inset(50%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px;
} 

.argnt-m-header { 
    align-items: center; 
    display: flex; 
    justify-content: space-between; 
    padding: 12px 0;
} 

.argnt-m-header--mobile { 
    padding: 0 16px;
} 

.argnt-m-footer__links { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 100%;
} 

@media screen and (min-width: 960px){ 
  .argnt-m-footer__links { 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 8px;
  } 
}     

.argnt-m-skip-link-navigation__content { 
    all: unset; 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
    list-style: none; 
    margin: 64px; 
    max-width: 400px;
} 

.argnt-m-header__logo { 
    cursor: pointer; 
    height: 48px; 
    width: 102px;
} 

.argnt-m-header__actions { 
    align-items: center; 
    display: flex; 
    gap: 16px;
} 

.argnt-m-footer__links-left { 
    display: flex;
} 

.argnt-m-footer__links-right { 
    align-items: center; 
    align-self: flex-start; 
    display: flex;
} 

.argnt-m-skip-link-navigation li  { 
    all: unset; 
    display: revert;
} 

a { 
    color: #00a160;
} 

.argnt-a-logo { 
    display: inline-block; 
    height: 100%;
} 

.argnt-a-logo--icon { 
    fill: #00a160;
} 

.argnt-a-language-selection { 
    align-items: center; 
    -webkit-appearance: none; 
    background: 0; 
    border: 0; 
    color: #004a65; 
    cursor: pointer; 
    display: inline-flex; 
    margin: 0; 
    padding: 0;
} 

@media (hover: hover){ 
  .argnt-a-language-selection:not(:disabled):hover { 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
  } 
}     

.argnt-a-spacer { 
    background-color: #ebebeb; 
    display: inline-block; 
    height: 100%; 
    margin: 0 8px; 
    min-height: 1.75rem; 
    width: 1px;
} 

.argnt-a-link { 
    align-items: center; 
    color: #004a65; 
    display: inline-flex; 
    position: relative; 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

@media (hover: hover){ 
  .argnt-a-link:not(:disabled):hover { 
    cursor: pointer;
  } 
}     

.argnt-m-footer__copyright { 
    margin: 8px 16px 8px 8px;
} 

.argnt-m-footer__copyright { 
    color: #5c5c5c; 
    flex-shrink: 0; 
    font-size: inherit; 
    font-weight: 700;
} 

.argnt-m-footer__link { 
    margin: 8px 16px 8px 8px;
} 

.argnt-m-footer__link { 
    align-items: center; 
    color: #5c5c5c; 
    display: inline-flex; 
    font-size: inherit; 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

@media (hover: hover){ 
  .argnt-m-footer__link:not(:disabled):hover { 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
  } 
}     

.argnt-m-footer__app-version { 
    margin-left: auto; 
    margin-right: 8px;
} 

.argnt-m-skip-link { 
    all: unset; 
    align-items: center; 
    background: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px hsla(0,0%,82%,.502); 
    cursor: pointer; 
    display: flex; 
    padding: 16px 24px;
} 

@media (hover: hover){ 
  .argnt-m-skip-link:not(:disabled):hover { 
    background: #f7f7f7;
  } 
}     

.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    white-space: nowrap; 
    border-width: 0;
} 

.sr-only { 
    clip: rect(0,0,0,0); 
    border-width: 0; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px;
} 

.argnt-a-logo svg  { 
    height: 100%; 
    width: 100%;
} 

.argnt-a-icon { 
    display: block;
} 

.argnt-a-body { 
    color: #5c5c5c; 
    font-family: Open Sans,sans-serif; 
    line-height: 1.6;
} 

.argnt-a-body__small { 
    font-size: .875rem;
} 

.argnt-a-body__semi-bold { 
    font-weight: 600;
} 

.argnt-a-language-selection__label { 
    color: inherit;
} 

.argnt-a-button-typography { 
    font-family: Open Sans,sans-serif; 
    font-size: 1rem; 
    font-weight: 600; 
    line-height: 1.6;
} 

.argnt-a-button-typography__link { 
    font-size: .875rem;
} 

@media (hover: hover){ 
  .argnt-a-link:not(:disabled):hover .argnt-a-link__text { 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
  } 
}     

.argnt-a-link--content-icon-left { 
    order: -1;
} 

.argnt-a-link--content-icon-left { 
    margin-right: 8px;
} 

.argnt-m-footer__link > span  { 
    font-size: inherit; 
    font-weight: inherit;
} 

.svg-inline--fa { 
    display: var(--fa-display, inline-block); 
    height: 1em; 
    overflow: visible; 
    vertical-align: -0.125em;
} 

.fa-sm { 
    font-size: 0.875em; 
    line-height: 0.0714285718em; 
    vertical-align: 0.0535714295em;
} 

.argnt-m-footer__link svg  { 
    color: inherit; 
    margin-left: 8px;
} 

.svg-inline--fa.fa-sm { 
    vertical-align: -0.0714285705em;
} 

svg:not(:root).svg-inline--fa,svg:not(:host).svg-inline--fa { 
    overflow: visible; 
    box-sizing: content-box;
} 

.argnt-a-badge { 
    border-radius: 8px; 
    font-family: Open Sans,sans-serif; 
    font-size: 12px; 
    font-weight: 700; 
    padding: 2px 8px;
} 

.argnt-a-badge--light { 
    background-color: #f7f7f7; 
    color: #5c5c5c; 
    font-weight: 400;
} 

.argnt-m-skip-link__content { 
    align-items: center; 
    display: flex; 
    flex-grow: 1; 
    gap: 24px;
} 

.argnt-m-skip-link__arrow { 
    border-left: 1px solid #ebebeb; 
    margin-left: 24px; 
    padding: 8px 0 8px 24px;
} 

.argnt-a-logo--icon .logo-full  { 
    display: none;
} 

.argnt-a-logo--icon .logo-mobile  { 
    display: block;
} 

.argnt-a-icon svg  { 
    display: block;
} 

.argnt-a-language-selection svg  { 
    color: #00a160; 
    margin-right: 8px;
} 

h1 { 
    margin: 0;
} 

.argnt-a-heading { 
    color: #004a65; 
    font-family: Roboto Slab,serif; 
    line-height: 1.6; 
    margin: 0;
} 

.argnt-a-heading-h2 { 
    font-size: 2rem;
} 

.argnt-a-heading__bold { 
    font-weight: 700;
} 

.argnt-a-heading-h2 { 
    color: #004a65; 
    padding-bottom: 16px;
} 

.argnt-p-login .argnt-p-login__title  { 
    margin-top: 16px; 
    text-align: center;
} 

@media screen and (min-width: 720px){ 
  .argnt-p-login .argnt-p-login__title  { 
    font-size: 2rem; 
    text-align: left;
  } 
}     

.argnt-a-body__bold { 
    font-weight: 700;
} 

.argnt-m-skip-link__label { 
    color: #004a65;
} 

.argnt-a-link__icon svg  { 
    color: #00a160;
} 

.argnt-m-loader-wrapper { 
    display: flex; 
    flex: 1 1 auto; 
    flex-direction: column;
} 

.argnt-m-login-component .argnt-m-loader-wrapper  { 
    padding-bottom: 16px;
} 

.argnt-m-login-component__separator { 
    margin: 24px 0;
} 

.argnt-a-separator { 
    background-color: #ebebeb; 
    height: 1px; 
    width: 100%;
} 

.argnt-m-skip-link__arrow svg  { 
    color: #004a65;
} 

.argnt-m-skip-link__content svg  { 
    color: #00a160;
} 

.argnt-a-message { 
    border-radius: 8px; 
    display: flex; 
    gap: 8px; 
    padding: 12px 16px;
} 

.argnt-a-message--error { 
    background-color: rgba(233,73,106,.102); 
    color: #a3334a;
} 

.argnt-a-message__icon-wrapper { 
    display: none; 
    padding: 12px;
} 

@media screen and (min-width: 480px){ 
  .argnt-a-message__icon-wrapper { 
    display: block;
  } 
}     

.argnt-a-message--error *  { 
    color: #a3334a;
} 

.argnt-a-message__body { 
    align-self: center; 
    flex: 1 1;
} 

.argnt-a-message__icon-wrapper svg  { 
    display: block;
} 

.argnt-a-message__body p  { 
    margin: 0; 
    white-space: pre-line;
} 

.argnt-a-collapse-item { 
    background-color: #fff; 
    border: 1px solid #ebebeb; 
    border-radius: 8px;
} 

.argnt-a-collapse-item--box-shadow { 
    box-shadow: 0 2px 8px hsla(0,0%,82%,.502);
} 

h2 { 
    margin: 0;
} 

.argnt-a-collapse-item__header-as { 
    all: unset; 
    box-sizing: revert;
} 

.argnt-a-collapse-item__summary { 
    all: unset; 
    box-sizing: revert;
} 

.argnt-a-collapse-item__summary { 
    border-radius: 8px; 
    cursor: pointer; 
    display: block; 
    padding: 24px 32px; 
    width: 100%;
} 

.argnt-m-form-digipass-login__header { 
    padding: 0;
} 

.argnt-a-collapse-item__summary[aria-expanded="true"] { 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
} 

@media (hover: hover){ 
  .argnt-a-collapse-item__summary:not(:disabled):hover { 
    background-color: #f7f7f7;
  } 
}     

.argnt-a-collapse-item__content { 
    padding: 24px;
} 

.argnt-a-collapse-header { 
    border-radius: 8px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 16px 24px; 
    width: 100%;
} 

.argnt-a-collapse-header--open { 
    border-bottom: 1px solid #ebebeb; 
    border-radius: 8px 8px 0 0;
} 

.argnt-a-collapse-header .argnt-a-collapse-header-icon-and-titles-wrapper  { 
    align-items: center; 
    display: flex;
} 

.argnt-a-collapse-header .argnt-a-collapse-header-indicator-wrapper  { 
    display: flex;
} 

.argnt-a-collapse-header .argnt-a-icon  { 
    color: #00a160;
} 

.argnt-a-collapse-header .argnt-a-collapse-header-icon-and-titles-wrapper .argnt-a-collapse-header-titles  { 
    display: flex; 
    flex-direction: column; 
    margin-left: 24px;
} 

.argnt-a-collapse-indicator { 
    display: block;
} 

.argnt-a-collapse-header .argnt-a-collapse-header-indicator-wrapper .argnt-a-collapse-indicator  { 
    align-items: center; 
    border-left: 1px solid #ebebeb; 
    display: flex; 
    margin-left: 24px; 
    padding-left: 24px;
} 

.argnt-a-body__medium { 
    font-size: 1rem;
} 

.argnt-a-body__regular { 
    font-weight: 400;
} 

.argnt-a-collapse-header .argnt-a-collapse-header-icon-and-titles-wrapper .argnt-a-collapse-header-title  { 
    color: #004a65;
} 

.argnt-a-collapse-indicator svg  { 
    color: #004a65;
} 

.argnt-m-form-container--actions { 
    align-items: center; 
    display: flex; 
    flex-direction: row; 
    margin-top: 24px;
} 

.argnt-m-form-digipass-login__form__details { 
    margin-top: 40px;
} 

.argnt-m-submit-buttons { 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    width: 100%;
} 

@media screen and (min-width: 720px){ 
  .argnt-m-submit-buttons { 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    width: inherit;
  } 
}     

.argnt-a-field-container { 
    display: flex; 
    flex-direction: column;
} 

.argnt-a-field-container--gap-16 { 
    gap: 16px;
} 

.argnt-a-button--primary { 
    background: #004a65; 
    color: #fff;
} 

.argnt-a-button { 
    align-items: center; 
    border: none; 
    border-radius: 4px; 
    display: flex; 
    justify-content: center; 
    min-height: 48px; 
    padding: 11px 32px; 
    transition-duration: 175ms; 
    transition-property: background,color; 
    transition-timing-function: linear;
} 

.argnt-a-button:not(.argnt-a-button--disabled) { 
    cursor: pointer;
} 

@media screen and (min-width: 720px){ 
  .argnt-m-submit-buttons .argnt-a-button  { 
    width: inherit;
  } 
}     

@media (hover: hover){ 
  .argnt-a-button--primary:not(:disabled):hover { 
    background: rgba(0,74,101,.102); 
    color: #004a65;
  } 
}     

.argnt-m-form-digipass-login__form__signature-subtitle { 
    color: #004a65;
} 

.arg-m-signature { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    width: 100%;
} 

.argnt-m-form-login .argnt-m-timeout-expiring-message  { 
    font-size: .75rem;
} 

.arg-m-signature .arg-m-signature-container  { 
    flex-grow: 1; 
    flex-shrink: 0; 
    max-width: 100%; 
    padding: 24px 0 0;
} 

.arg-m-signature .arg-m-signature-digipass  { 
    align-items: center; 
    container-type: inline-size; 
    display: flex; 
    flex-shrink: 1; 
    justify-content: center; 
    width: 179px;
} 

.argnt-m-timeout-expiring-message__content { 
    display: flex; 
    gap: 8px;
} 

.arg-m-signature__list { 
    all: unset; 
    display: revert; 
    list-style: none; 
    margin-bottom: 8px;
} 

.argnt-a-field-container--gap-8 { 
    gap: 8px;
} 

.arg-m-signature .arg-m-signature-digipass img  { 
    display: none; 
    width: 100%;
} 

.arg-m-signature .arg-m-signature-digipass img  { 
    display: block;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field  { 
    border-bottom: 1px solid #ebebeb; 
    padding: 12px 0;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field:first-of-type  { 
    padding-top: 0;
} 

.argnt-m-form-masked-input { 
    display: flex; 
    flex: 1 1; 
    flex-direction: column;
} 

.argnt-a-masked-input-field__challenge { 
    width: 135px;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field .argnt-m-signature--field-with-image  { 
    align-items: center; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
} 

.argnt-a-field { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    border-radius: 4px; 
    color: #004a65; 
    font-family: Open Sans,sans-serif; 
    font-size: 16px; 
    outline: none; 
    width: 100%;
} 

.argnt-a-field { 
    align-items: center; 
    display: flex;
} 

.argnt-a-field:not(.argnt-a-field--unstyled) { 
    background-color: #fff; 
    border: 2px solid #ebebeb;
} 

.argnt-a-field:not(.argnt-a-field--unstyled):hover { 
    box-shadow: 0 2px 8px hsla(0,0%,82%,.502);
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field .argnt-m-signature--field-with-image img  { 
    padding-left: 8px;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field .argnt-m-signature--givechallenge  { 
    align-items: baseline; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
} 

.argnt-a-field input  { 
    -webkit-appearance: inherit; 
    -moz-appearance: inherit; 
    appearance: inherit; 
    background: none; 
    border: none; 
    color: inherit; 
    font-family: inherit; 
    font-size: inherit; 
    letter-spacing: inherit; 
    line-height: 24px; 
    outline: inherit; 
    padding: 12px 16px; 
    width: 100%;
} 

.argnt-a-masked-input-field .argnt-a-field input  { 
    font-family: B612 Mono,monospace; 
    font-size: 16px;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field .argnt-m-signature--givechallenge .argnt-a-label--challenge  { 
    background-color: rgba(0,74,101,.102); 
    border-radius: 8px; 
    margin: 0 8px; 
    padding: 0 8px;
} 

.argnt-a-field .argnt-a-field--fa-wrapper  { 
    padding-right: 16px;
} 

.argnt-a-field-error { 
    color: #e9496a; 
    font-family: Open Sans,sans-serif; 
    font-size: 14px; 
    font-weight: 600;
} 

.argnt-a-field-container .argnt-a-field-error  { 
    display: block; 
    padding-top: 4px;
} 

.arg-m-signature .arg-m-signature-container .argnt-m-signature--field .argnt-m-signature--givechallenge .argnt-a-label--challenge span  { 
    color: #004a65; 
    font-family: B612 Mono,monospace; 
    font-size: 18px; 
    font-weight: 700;
} 

.argnt-a-field-error > svg:first-child  { 
    margin-right: 8px; 
    vertical-align: middle;
} 

.argnt-a-field-error__content { 
    line-height: 14px; 
    vertical-align: middle;
} 

.argnt-a-field-error span  { 
    color: inherit;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-HwWmc.style-HwWmc {  
   width: 24px;  
    height: 24px;  
    vertical-align: top;  
}  
#style-fCt91.style-fCt91 {  
   overflow: visible;  
    opacity: 1;  
    height: auto;  
}  
#style-fnOrM.style-fnOrM {  
   opacity: 0;  
    display: none;  
}  
#style-JveYw.style-JveYw {  
   opacity: 0;  
    display: none;  
}  
#style-QJOUb.style-QJOUb {  
   overflow: hidden;  
    opacity: 0;  
    height: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-bzi4s.style-bzi4s {  
   width: 24px;  
    height: 24px;  
    vertical-align: top;  
}  
#style-Kc2Pp.style-Kc2Pp {  
   overflow: visible;  
    opacity: 1;  
    height: auto;  
}  
#style-GwflZ.style-GwflZ {  
   opacity: 0;  
    display: none;  
}  
#style-IXeMK.style-IXeMK {  
   opacity: 0;  
    display: none;  
}  
#style-SpPFF.style-SpPFF {  
   overflow: hidden;  
    opacity: 0;  
    height: 0px;  
}  
