  body {  
    line-height:1.15;
  }  
* { 
    box-sizing: inherit;
} 

html { 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
} 

html { 
    box-sizing: border-box;
} 

html { 
    height: 100%; 
    width: 100%;
} 

body { 
    margin: 0;
} 

body { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif !important; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #343434; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.template-default { 
    display: flex; 
    min-height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    font-size: 16px; 
    background-color: #FCFCFC; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: top center;
} 

@media only screen and (min-width: 820px){ 
  .template-default { 
    padding-top: 70px; 
    justify-content: center;
  } 
}     

body  { 
    background-size: cover; 
    background-color: #fffefc; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif !important; 
    text-rendering: geometricprecision; 
    -webkit-font-smoothing: antialiased; 
    text-align: left; 
    direction: ltr;
} 

@media only screen and (min-width: 820px){ 
  body  { 
    padding-top: 60px;
  } 
}     

*,:before,:after { 
    box-sizing: inherit;
} 

main { 
    display: block;
} 

.template-default .main  { 
    margin: 0 auto; 
    display: flex; 
    background-color: #fff; 
    width: 100%; 
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    border-top-width: 0; 
    transition: opacity .5s;
} 

@media only screen and (min-width: 820px){ 
  .template-default .main  { 
    width: 820px; 
    margin: auto; 
    border-radius: 8px; 
    border: 1px solid #E4E4E5; 
    background-image: none; 
    padding-bottom: 0;
  } 
}     

.main  { 
    position: relative; 
    border-radius: 0; 
    border: none;
} 

@media only screen and (min-width: 820px){ 
  .main  { 
    box-shadow: rgba(0,0,0,0.15) 0px 3px 15px 6px;
  } 

  .main  { 
    border-radius: 12px;
  } 
}     

footer { 
    display: block;
} 

.footer { 
    text-align: center; 
    width: 100%; 
    background-color: #fff; 
    display: block; 
    padding: 0 0 15px;
} 

@media only screen and (min-width: 820px){ 
  .footer { 
    display: flex; 
    min-height: 60px; 
    line-height: 60px; 
    margin-top: 50px; 
    align-self: flex-end; 
    justify-self: flex-end; 
    justify-content: space-between; 
    margin-bottom: 0; 
    padding: 0 45px;
  } 
}     

.template-default .footer  { 
    display: block;
} 

.footer  { 
    background-color: #fffefc;
} 

canvas { 
    display: inline-block;
} 

aside { 
    display: block;
} 

.sidebar { 
    display: none; 
    position: relative; 
    width: 300px; 
    font-size: 13px; 
    line-height: 20px; 
    flex: 0 0 auto; 
    min-height: 465px; 
    padding: 70px 50px 50px 50px; 
    text-align: center; 
    background-color: #f6f6f6; 
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
} 

@media only screen and (min-width: 820px){ 
  .sidebar { 
    display: block; 
    background-color: #F0EEEA; 
    padding-bottom: 125px;
  } 
}     

.main .sidebar  { 
    border-radius: 0;
} 

@media only screen and (min-width: 820px){ 
  .main .sidebar  { 
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px;
  } 
}     

section { 
    display: block;
} 

.content { 
    flex: 0 1 auto; 
    width: 100%; 
    padding: 135px 20px 20px 20px; 
    position: relative;
} 

@media only screen and (min-width: 820px){ 
  .content { 
    padding: 70px 50px 50px 50px; 
    max-width: 520px;
  } 

  .main .content  { 
    padding: 70px 50px 40px 50px;
  } 
}     

.sidebar .less  { 
    position: relative;
} 

@media only screen and (min-width: 820px){ 
  .sidebar .less  { 
    display: none; 
    flex-direction: column; 
    justify-content: flex-start;
  } 

  .sidebar .less  { 
    display: block;
  } 
}     

.main .sidebar .less  { 
    text-align: left;
} 

.sidebar .more  { 
    text-align: left; 
    display: none;
} 

@media only screen and (min-width: 820px){ 
  .sidebar .more  { 
    display: none; 
    flex-direction: column; 
    justify-content: flex-start;
  } 

  .sidebar .more  { 
    text-align: center; 
    display: none; 
    height: auto;
  } 
}     

.main .sidebar .more  { 
    text-align: left;
} 

.logo-container { 
    position: absolute; 
    bottom: 70px;
} 

.main .flex-size-wrapper  { 
    display: flex; 
    flex-direction: column; 
    height: 100%;
} 

.main .content .float-control  { 
    min-height: 20px;
} 

.content-backdrop { 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0); 
    z-index: 0; 
    pointer-events: none; 
    transition: .4s ease background-color;
} 

.main .sidebar .less .sidebar-top  { 
    align-items: center;
} 

@media only screen and (min-width: 820px){ 
  #WizardForm { 
    display: flex; 
    flex-direction: column; 
    height: 100%;
  } 
}     

.project-logo { 
    align-items: center; 
    background-color: #fff; 
    border: 1px solid #E4E4E5; 
    display: none; 
    justify-content: center; 
    margin: auto; 
    width: auto; 
    padding: 5px; 
    max-width: 200px;
} 

.project-logo.visible { 
    display: inline-flex;
} 

@media only screen and (min-width: 820px){ 
  .sidebar .less .project-logo  { 
    margin-bottom: 15px;
  } 

  .main .sidebar .project-logo.square  { 
    border-radius: 8px;
  } 
}     

p { 
    margin: 0; 
    padding: 0;
} 

p { 
    color: #787878;
} 

html.liquorice-ux p { 
    text-align: left;
} 

html.liquorice-ux p { 
    max-width: 100%; 
    color: #171717; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 25px; 
    -webkit-font-smoothing: antialiased; 
    text-align: left; 
    margin-bottom: 0px; 
    margin-top: 0px; 
    padding-bottom: 3px; 
    padding-top: 2px; 
    text-rendering: geometricprecision; 
    text-size-adjust: none;
} 

.sidebar .less .amount  { 
    word-break: break-word;
} 

@media only screen and (min-width: 820px){ 
  .sidebar .less .amount  { 
    position: relative; 
    color: #49494A; 
    font-family: "Klarna Headline", sans-Serif; 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 16px; 
    margin-top: 12px; 
    margin-bottom: 0; 
    cursor: pointer;
  } 

  .sidebar .less .amount::after { 
    content: ''; 
    position: absolute; 
    top: 50%; 
    width: 12px; 
    height: 12px; 
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' transform='translate(6.000000, 3.000000) rotate(-270.000000) translate(-6.000000, -3.000000) translate(3.000000, -3.000000)' fill-rule='nonzero' fill='%2349494A'%3E%3Cpath d='M0.75,12 C0.555620064,12.002027 0.36845938,11.9264429 0.23,11.79 C-0.0680512388,11.5027323 -0.0770026692,11.0283065 0.21,10.73 L4.29,6.52 C4.56938298,6.22962289 4.56938298,5.77037711 4.29,5.48 L0.21,1.27 C-0.0770026692,0.97169353 -0.0680512388,0.497267717 0.23,0.21 C0.52830647,-0.0770026692 1.00273228,-0.0680512388 1.29,0.23 L5.37,4.44 C6.21,5.31 6.21,6.68 5.37,7.56 L1.29,11.77 C1.14806113,11.915884 0.953536677,11.998737 0.75,12' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 12px; 
    background-color: transparent; 
    margin-left: 7px; 
    transform: translateY(-50%) rotateZ(0deg); 
    transition: transform .2s ease;
  } 

  .hidden-large { 
    display: none !important;
  } 

  .sidebar .more p  { 
    margin: 0; 
    font-size: 13px; 
    font-weight: 400; 
    line-height: 20px;
  } 

  .sidebar .more .headline  { 
    color: #787878; 
    display: inline-block; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif !important; 
    font-size: 12px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 18px; 
    margin-top: 15px;
  } 
}     

.has-tip { 
    cursor: help; 
    pointer-events: none;
} 

.main .sidebar .has-tip  { 
    display: flex; 
    flex-wrap: nowrap; 
    white-space: nowrap; 
    align-items: center; 
    line-height: 1 !important;
} 

.has-tip:after,.has-info:after { 
    margin-left: 5px; 
    pointer-events: auto; 
    content: ""; 
    width: 15px; 
    height: 15px; 
    background-repeat: no-repeat; 
    background-size: 15px 15px; 
    background-color: transparent; 
    display: inline-block; 
    vertical-align: sub;
} 

.has-tip:after { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='%2349494A' d='M1.13 7.5a6.37 6.37 0 1 1 12.74 0 6.37 6.37 0 0 1-12.74 0zM0 7.5a7.5 7.5 0 1 0 15 0 7.5 7.5 0 0 0-15 0z'/%3E%3Cpath fill='%2349494A' d='M7.13 9a1.12 1.12 0 1 0 0 2.25c.62 0 1.12-.5 1.12-1.12C8.25 9.5 7.75 9 7.13 9M8.16 4.18c.35.1.41.31.43.38.09.29.02.39-.39.8-.45.46-1.07 1.08-1.07 2.33a.56.56 0 1 0 1.12 0c0-.79.35-1.13.75-1.53.4-.41.96-.97.67-1.93A1.68 1.68 0 0 0 8.49 3.1a2.59 2.59 0 0 0-2.29.43.56.56 0 0 0-.07.79c.2.24.55.27.79.07.3-.24.84-.33 1.24-.21'/%3E%3C/svg%3E");
} 

html.liquorice-ux body .main .sidebar .has-tip::after { 
    flex-shrink: 0; 
    background-size: contain; 
    margin-left: 6px;
} 

.text-center { 
    text-align: center;
} 

.standard-help-text { 
    margin-bottom: 20px; 
    color: #787878;
} 

.text-center  { 
    text-align: left;
} 

img { 
    border-style: none;
} 

@media only screen and (min-width: 820px){ 
  .sidebar .less img  { 
    max-width: 120px; 
    max-height: 60px;
  } 

  .sidebar .more .amount  { 
    color: #49494A;
  } 
}     

.main .content .content-wrapper  { 
    word-break: break-word;
} 

.template-default .main .header  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #fff; 
    border-bottom: 1px solid #E4E4E5; 
    height: 60px; 
    z-index: 2; 
    display: flex; 
    justify-content: center;
} 

@media only screen and (min-width: 820px){ 
  .main .header  { 
    border: none;
  } 

  .main .header  { 
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
  } 
}     

.main .content .content-wrapper .header  { 
    background-position: center top 24px;
} 

@media only screen and (min-width: 820px){ 
  .main .content .content-wrapper .header  { 
    border-top-right-radius: 12px;
  } 
}     

.template-default .main .header .logo-container  { 
    top: 23px;
} 

@media only screen and (min-width: 820px){ 
  .template-default .main .header .logo-container  { 
    visibility: hidden;
  } 
}     

.main .content .content-wrapper .header .logo-container  { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    top: 0;
} 

h2 { 
    font-family: "Klarna Headline", sans-serif; 
    font-weight: 700; 
    text-rendering: geometricPrecision; 
    -webkit-font-smoothing: antialiased; 
    margin-bottom: 0; 
    margin-top: 0; 
    color: #343434;
} 

h2 { 
    font-size: 18px; 
    line-height: 25px;
} 

html.liquorice-ux h2 { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif !important;
} 

.logo-container .logo-centered  { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
} 

.logo-container img  { 
    height: 15px; 
    display: block;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-7VgU5.style-7VgU5 {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-LRPLe.style-LRPLe {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-ohkAB.style-ohkAB {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-evNIJ.style-evNIJ {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-geZf5.style-geZf5 {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-FC8KM.style-FC8KM {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-5Nqps.style-5Nqps {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-tUIoo.style-tUIoo {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-MiApg.style-MiApg {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#snipcss-kiwi.style-WiA74 {  
   left: 1810px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-bVBeg.style-bVBeg {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-OyaUx.style-OyaUx {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-x3ozQ.style-x3ozQ {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-ntf2a.style-ntf2a {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-JNoAZ.style-JNoAZ {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-v3DKC.style-v3DKC {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-xTUWQ.style-xTUWQ {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-C4T7M.style-C4T7M {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-LDVAe.style-LDVAe {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#snipcss-kiwi.style-2YWqD {  
   left: 1810px;  
    top: 0px;  
}  
